/* <style> */
*{margin: 0; padding: 0;}
li,ul{list-style: none;}

.header{ width: 100%; height: 113px; background-color: rgb(255, 255, 255);}
.header div{ display: inline-block; }
.header img{height: 113px; width: 240px; padding-right: 20px;}
.header :nth-child(3){float: right; }
.header input{width: 533px; height: 44px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
.header input:focus{outline: none;}
.header form i { position: absolute; right: 16px; top: 8px; color: rgb(43, 130, 245);}
.header span i {color: rgb(43, 130, 245); padding: 14px; margin-top: 16px; margin-right: 10px;}
.search-tag{position: relative;}
.header2{background-color: rgb(255, 255, 255); height: 44px; width: 100%; padding: 0; position: relative; z-index: -10;}
.header2 div{display: inline-block;}
.category {background-color: rgb(43, 130, 245); color: rgb(255, 255, 255); width: 220px; display: inline-block; height: 100%; font-size: 25px; line-height: 44px; padding-left: 20px;}
.category span{font-size: 20px;}
.regist {position: absolute; right: 20px; padding: 12px;}
.regist a {margin: 0 10px; text-decoration:none; color: rgb(0, 0, 0);}
/* </style>

<style> */
@media screen and (max-width:1200px)
{
   .header img{height: 113px; width: 170px; padding-right: 20px;}
   .header input{width: 333px; height: 30px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
   .category {background-color: rgb(43, 130, 245); color: rgb(255, 255, 255); width: 150px; display: inline-block; height: 100%; font-size: 25px; line-height: 44px; padding-left: 20px;}
   .header span i {color: rgb(43, 130, 245); padding: 14px; margin-top: 16px; margin-right: 10px; font-size: 30px;}
   .icon-set{padding-top: 10px;}
   .search-tag i{ font-size: 15px;}
   .category span{font-size: 13px;  vertical-align: middle;}



}

/* </style>

<style> */
@media screen and (max-width: 769px)
{ 
   .icon-set i{ display: none;}
   .regist{ margin-right: 150px;}
}
/* </style>

<style> */
@media screen and (max-width: 506px)
{ 
   .icon-set i{ display: none;}
   .header input{width: 200px; height: 24px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
   .search-tag i{ font-size: 10px;}


}
</style>