html { overflow-y:scroll; }
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 임시 */
.header {
    height: 170px;
}

body {
    overflow: hidden;
    position: relative;
}
body .all-category, .main-fluid {
   
}
/* 카테고리 */
.all-category {
    /* position: relative; */
    display: inline-block;
    width: 100%;
}
.all-category-btn {
    background-color: rgb(85, 115, 154);
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.big-category-content {
    display: block;
    background-color: rgb(135, 177, 232);
    width: 100%;
    position: relative;
}
.big-category-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    
}
.big-category-content a:hover {
    background-color: #fff;
    color: rgb(135, 177, 232);
}
.big-title:hover .mid-category-content{
    display: block;
    position: absolute;
    z-index: 1;
}

.mid-category-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(135, 177, 232);
    width: 100%;
}
.mid-category-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.sm-category-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(135, 177, 232);
    width: 100%;
}
.mid-title:hover .sm-category-content {
    display: block;
}

.carousel-inner .item img {
    width: 50%;
    margin: 0 auto;
}
/* 추천강의 목록 */
.main2 {
    margin-top: 10px;
}

.main2-title {
    font-size: 20px;
}

.recommand-list {
    padding : 15px;
}
.lecture-ad {
    box-sizing: border-box;

    
}
.recommand-lecture {
    position: relative;
    border: 1px solid rgb(135, 177, 232);
    margin: 10px 0;
    border-radius: 4px;
    overflow: hidden;
}
.recommand-lecture img {
    width: 100%;
}
.recommand-lecture:hover .lecture-hover {
    opacity: 1;
}
.recommand-lecture .lecture-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* padding-right: 15px; */
    background-color: rgba(0,0,0,.8);
    opacity: 0;
}
.recommand-lecture .lecture-hover a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
    
}
.recommand-lecture .lecture-content p {
    color: #fff;
    margin-top: -25px;
    margin-left: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    position: absolute;
    z-index: 1;
}

.recommand-lecture:hover .lecture-hover{
    transition:0.3s;
    -webkit-transition:0.3s;
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgb(75, 110, 156));
    opacity:1;
    height:100%;
    border-radius: 4px;
}

.recommand-lecture:hover .lecture-content p {
    color:rgb(232, 198, 135);
    transition:0.3s;
    -webkit-transition:0.3s
}
/* 최근 글 목록 */
.board-recent {
    display: table;
    overflow: hidden;
    width: 100%;
    padding: 25px 0 23px;
    border-bottom: 1px solid rgb(135, 177, 232);
}
.content-recent {
    display: table-cell;
    position: relative;
    padding-right: 30px;
    font-size: 0;
}

.profile-board {
    display: inline-block;
}
.profile-img {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 600;
}
.profile-img > img {
    width: 32px;
    height: 32px;
}
.profile-info {
    float: left;
}
.profile-name {
    display: block;
    height: 16px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
}
.regist-time {
    font-size: 11px;
    color: #959595;
    line-height: 13px;
}
.content-detail {
    margin-top: 16px;
}
.content-title {
    display: block;
}
.title-font {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 573px;
    min-height: 20px;
    max-height: 50px;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    word-wrap: break-word;
}
.content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 573px;
    max-height: 60px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #666;
    word-wrap: break-word;
}
.content-comment {
    height: 15px;
    margin-top: 14px;
    font-size: 12px;
    color: #959595;
    letter-spacing: -0.1px;
}
.select-count {
    margin-right: 9px;
}
.thumbnail-recent {
    display: table-cell;
    position: relative;
    width: 167px;
    vertical-align: top;
}
.thumbnail-area {
    position: relative;
}
.thumbnail-inner {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 167px;
    height: 167px;
    background-color: #fff;
    text-align: center;
}
.img-post {
    width: 100%;
}
.button-more-img {
    position: absolute;
    top: 136px;
    left: 136px;
    z-index: 15;
}
.sp_common {
    background-image: url(https://ssl.pstatic.net/static/blog/sp_common_0ef8f3b2.png);
    vertical-align: middle;
    display: inline-block;
}
.icon_more {
    background-position: -515px -508px;
    width: 31px;
    height: 31px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.plus-thumbnail-list {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #fff;
    font-size: 0;
    white-space: nowrap;
    transition: all 1s;
}
.plus-thumbnail-list .list-inner .plus-list {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 167px;
    height: 167px;
    margin-right: 1px;
    text-align: center;
}
.plus-list img {
    width: 100%;
}
.thumbnail-area:hover .plus-thumbnail-list {
    display: block;
    left: -504px;
}
