<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.tigerWhale.detailBoard.mapper.detailBoardMapper">

	<select id="getcatagory" resultType="catagoryBoardVO">
		select * from categoryBoard where C_code =  1
	</select>
		<select id="getD_T_board" resultType="D_T_boardVO">
		select * from D_T_Board where bno = #{bno}
	</select>
		<select id="getBoardDetail" resultType="detailBoardVO">
		select * from detailBoard where bno = #{bno}
	</select>
		<select id="getMainDetail" resultType="MainBoardVO">
		select * from mainboard where bno = #{bno}
	</select>
		<select id="getrepyBoard" resultType="repyBoardVO">
		select * from replyBoard where bno = #{bno}
	</select>
	<select id="getUserDetail" resultType="UsersVO">
		select * from userboard where user_id like #{user_ID}
	</select>
	<select id="getY_M_board" resultType="Y_M_boardVO">
		select * from Y_M_Board where bno = #{bno}
	</select>
	
	<select id="getIMGBoard" resultType="IMGBoardVO">
		select * from IMGBoard where bno = #{bno}
	</select>
	
		<select id="getUserIMGBoard" resultType="UserIMGBoardVO">
		select * from UserIMGBoard where bno = #{bno}
	</select>
	
			<select id="getTextBoard" resultType="textBoardVO">
		select * from textBoard where bno = #{bno}
	</select>


</mapper>